.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f1ff;
}

.login-card {
  display: flex;
  width: 900px;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.login-right {
  width: 60%;
  padding: 40px;
}

.login-right h1 {
  margin-bottom: 10px;
}

.subtitle {
  color: #666;
  margin-bottom: 25px;
}

.login-right form {
  display: flex;
  flex-direction: column;
}

.login-right label {
  font-size: 14px;
  margin-bottom: 5px;
}

.login-right input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

.password-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forgot-link {
  font-size: 13px;
  color: #7b3fe4;
}

.login-right button {
  margin-top: 10px;
  padding: 12px;
  background: #7b3fe4;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.login-right button:disabled {
  opacity: 0.7;
}

.divider {
  text-align: center;
  margin: 20px 0;
  color: #888;
}

.social-buttons {
  display: flex;
  gap: 10px;
}

.social-buttons button {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.signup-link {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}
.login-left {
  width: 40%;
  background: #f2edff; /* light purple background */
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image {
  max-width: 85%;
  max-height: 85%;
  object-fit: contain;   /* IMPORTANT */
  border-radius: 12px;
}
