body {
  background: #f5f5f5;
}

.claim-details-container {
  max-width: 1200px;
  margin: auto;
  padding: 30px;
}

.claim-top-card {
  background: linear-gradient(135deg, #10b981, #059669);
  color: white;
  padding: 25px;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amount-box {
  background: white;
  color: #065f46;
  padding: 12px 18px;
  border-radius: 10px;
  font-weight: bold;
}

.details-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  margin-top: 25px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  margin-bottom: 20px;
}

.timeline li {
  list-style: none;
  margin: 10px 0;
  padding-left: 15px;
  border-left: 3px solid #10b981;
}

.timeline span {
  display: block;
  font-size: 12px;
  color: gray;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin: 15px 0;
}

.desc {
  color: #555;
}

.doc {
  padding: 10px;
  background: #f1f5f9;
  border-radius: 8px;
  margin-top: 10px;
}

.btn {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.btn.primary {
  background: #2563eb;
  color: white;
}

.btn.outline {
  border: 1px solid #2563eb;
  background: white;
  color: #2563eb;
}

.card p {
  display: flex;
  justify-content: space-between;
}

.green-text {
  color: #10b981;
  font-weight: bold;
}

.assessor {
  background: #eff6ff;
}


/* STATUS COLORS */
.claim-top-card.approved {
  background: linear-gradient(135deg, #10b981, #059669);
}

.claim-top-card.review {
  background: linear-gradient(135deg, #f59e0b, #d97706);
}

.claim-top-card.rejected {
  background: linear-gradient(135deg, #ef4444, #dc2626);
}

.rejected-text {
  color: #dc2626;
  font-weight: bold;
}

.rejected-box {
  background: #fee2e2;
  color: #991b1b;
}
